Repository nanoframework/nf-Community-Targets, pull requests merged in 2020-11, with the labels that each got.

#141 Update device capabilities
  CMSIS-OS/ChibiOS/BrainPad2/CMakeLists.txt
  CMSIS-OS/ChibiOS/BrainPad2/target_common.c
  CMSIS-OS/ChibiOS/GHI_FEZ_CERB40_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/GHI_FEZ_CERB40_NF/target_common.c
  CMSIS-OS/ChibiOS/I2M_ELECTRON_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/I2M_ELECTRON_NF/target_common.c
  CMSIS-OS/ChibiOS/I2M_OXYGEN_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/I2M_OXYGEN_NF/target_common.c
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F412ZG_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F439ZI/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_common.c
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F401RE_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_STM32F411_DISCOVERY/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_common.c
  TI-SimpleLink/TI_CC1352P1_LAUNCHXL/CMakeLists.txt
  TI-SimpleLink/TI_CC1352P1_LAUNCHXL/cmake-variants.json
Labels: Area: Config-and-Build, Type: enhancement

#143 Improvements in CMake
  CMSIS-OS/ChibiOS/GHI_FEZ_CERB40_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/GHI_FEZ_CERB40_NF/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/GHI_FEZ_CERB40_NF/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/GHI_FEZ_CERB40_NF/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/GHI_FEZ_CERB40_NF/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/I2M_ELECTRON_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/I2M_ELECTRON_NF/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/I2M_ELECTRON_NF/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/I2M_ELECTRON_NF/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/I2M_ELECTRON_NF/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/I2M_OXYGEN_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/I2M_OXYGEN_NF/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/I2M_OXYGEN_NF/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/I2M_OXYGEN_NF/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/I2M_OXYGEN_NF/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F412ZG_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F412ZG_NF/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F412ZG_NF/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F412ZG_NF/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F412ZG_NF/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F439ZI/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F439ZI/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F439ZI/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F439ZI/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F439ZI/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_nf_devices_onewire_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F401RE_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F401RE_NF/target_nf_devices_onewire_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F401RE_NF/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F401RE_NF/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F401RE_NF/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F401RE_NF/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F411_DISCOVERY/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_STM32F411_DISCOVERY/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F411_DISCOVERY/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F411_DISCOVERY/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F411_DISCOVERY/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/CMakeLists.txt
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_nf_devices_can_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_nf_devices_onewire_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_adc_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_spi_config.cpp
  TI-SimpleLink/TI_CC1352P1_LAUNCHXL/CMakeLists.txt
  TI-SimpleLink/TI_CC1352P1_LAUNCHXL/cmake-variants.json
  TI-SimpleLink/TI_CC1352P1_LAUNCHXL/target_common.h.in
  azure-pipelines.yml
Labels: Area: Config-and-Build

#142 Add tamplatest for BrainPad2 and Nucleo F411RE
  CMSIS-OS/ChibiOS/BrainPad2/cmake-variants.json
  CMSIS-OS/ChibiOS/BrainPad2/launch.json
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/cmake-variants.json
  CMSIS-OS/ChibiOS/ST_NUCLEO64_F411RE_NF/launch.json
Labels: Area: Config-and-Build

#145 Adds MBN_QUAIL target.
  CMSIS-OS/ChibiOS/MBN_QUAIL/CMakeLists.txt
  CMSIS-OS/ChibiOS/MBN_QUAIL/README.md
  CMSIS-OS/ChibiOS/MBN_QUAIL/board.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/board.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/cmake-variants.json
  CMSIS-OS/ChibiOS/MBN_QUAIL/common/CMakeLists.txt
  CMSIS-OS/ChibiOS/MBN_QUAIL/common/Device_BlockStorage-DEBUG.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/common/Device_BlockStorage.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/common/usbcfg.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/common/usbcfg.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/ffconf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/launch.json
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/CMakeLists.txt
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/chconf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/halconf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/halconf_nf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/main.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/mbn_quail_booter-DEBUG.ld
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/mbn_quail_booter.ld
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/mcuconf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/mcuconf_nf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/target_board.h.in
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/CMakeLists.txt
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/chconf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf_nf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/mbn_quail_CLR-DEBUG.ld
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/mbn_quail_CLR.ld
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/mcuconf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/mcuconf_nf.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/nanoHAL.cpp
  CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/target_board.h.in
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_BlockStorage.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_BlockStorage.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_common.c
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_common.h.in
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_nf_devices_onewire_config.cpp
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_nf_devices_onewire_config.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_system_device_i2c_config.cpp
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_system_devices_dac_config.cpp
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_devices_i2c_config.cpp
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_devices_serialcommunication_config.cpp
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_devices_serialcommunication_config.h
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_devices_spi_config.cpp
  CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_storage_config.h
  README.md
  azure-pipelines.yml
Labels: Area: Config-and-Build, do not merge
